# Data Science's world

#### In this notebook we'll summarized Data Science's libraries, languages and tools.

#### Data Science Languages: 
* Phyton 
* Java 
* Scala
* Julia
* R
* SQL

#### Data Science Libraries, for Phyton 
* Pandas
* TensorFlow
* PyTorch

#### Data Science tools 
|Python|SQL|R| 
|----|----|----| 
|Matplotlib|MicrosoftSQL|ggplot2| 
|Seaborn|PostgreSQL|tidyr|
|TensorFlow|SQLite|plotly|

# Here are some arithmetic expressions examples!
$(20 * 30) + 3$
------------
$(40 / 2) + 3$
------------
$ ( 2 * 2 ) + ( 2 / 2 ) $
---------------

In [19]:
# Let's multiplicate!
num=int(input("Enter number:"))
for i in range (1,10):
    print(num,'x',i,'=',num*1)

Enter number: 5

5 x 1 = 5
5 x 2 = 5
5 x 3 = 5
5 x 4 = 5
5 x 5 = 5
5 x 6 = 5
5 x 7 = 5
5 x 8 = 5
5 x 9 = 5

In [20]:
# Minutes to hours! 
min=int(input("Enter minutes:")) 
print(min/60)

Enter minutes: 120

2.0

#### Objectives
* List data science libraries
* List data science tools 
* Give examples of data science languagues

# Author
#### Naiquen Rodriguez